# Visual Studio
.vs/

# Build
bin/
obj/

# User files
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# App settings
appsettings.Development.json

# React / Node
study-planner-client/node_modules/
study-planner-client/dist/
study-planner-client/.env